<p id="notice"><%= notice %></p>

<p>
  <strong>Campus:</strong>
  <%= @lecture.campus_id %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @lecture.sub_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lecture.teacher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @lecture.year %>
</p>

<p>
  <strong>Class:</strong>
  <%= @lecture.class_id %>
</p>

<p>
  <strong>Term:</strong>
  <%= @lecture.term %>
</p>

<p>
  <strong>Week time:</strong>
  <%= @lecture.week_time %>
</p>

