<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @notice.details %>
</p>

<p>
  <strong>Category:</strong>
  <%= @notice.category_id %>
</p>

<p>
  <strong>Department:</strong>
  <%= @notice.department_id %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @notice.campus_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @notice.date %>
</p>

<p>
  <strong>Period time:</strong>
  <%= @notice.period_time %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @notice.grade %>
</p>

<p>
  <strong>Place:</strong>
  <%= @notice.place %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @notice.subject %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @notice.teacher %>
</p>

<p>
  <strong>Before data:</strong>
  <%= @notice.before_data %>
</p>

<p>
  <strong>After data:</strong>
  <%= @notice.after_data %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @notice.web_url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @notice.note %>
</p>

<p>
  <strong>Document1 name:</strong>
  <%= @notice.document1_name %>
</p>

<p>
  <strong>Document2 name:</strong>
  <%= @notice.document2_name %>
</p>

<p>
  <strong>Document3 name:</strong>
  <%= @notice.document3_name %>
</p>

<p>
  <strong>Document4 name:</strong>
  <%= @notice.document4_name %>
</p>

<p>
  <strong>Document5 name:</strong>
  <%= @notice.document5_name %>
</p>

<p>
  <strong>Document1 url:</strong>
  <%= @notice.document1_url %>
</p>

<p>
  <strong>Document2 url:</strong>
  <%= @notice.document2_url %>
</p>

<p>
  <strong>Document3 url:</strong>
  <%= @notice.document3_url %>
</p>

<p>
  <strong>Document4 url:</strong>
  <%= @notice.document4_url %>
</p>

<p>
  <strong>Document5 url:</strong>
  <%= @notice.document5_url %>
</p>

<p>
  <strong>Regist time:</strong>
  <%= @notice.regist_time %>
</p>

<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
